
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: VaniBold;
    src: url('../fonts/Vanib.ttf');
}
@font-face {
    font-family: Athelas;
    src: url('../fonts/Athelas.ttf');
}
@font-face {
    font-family: Myriad-Pro;
    src: url('../fonts/MyriadPro-Light.otf');
}

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased; */

}

html,body{

    position: relative;
}

@media screen and (max-width:1640px){
    
.logo{

    width: 100%;
    color: #F7A78B;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 2.5rem;
    background-color: white;
    position: relative;
    z-index: 100000;

    
}
.logo p{

    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Myriad-Pro', sans-serif;
    font-style: normal;
    font-weight: 100;
    width: 90%;


}
.hamburger{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    width: max-content;
    display: none;


}
.hamburger .line{
    background-color: black;
    height: 1px;
    width: 22px;
    
}
.line::before,.line::after{

    content: '';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 22px;
    
}
.line::before{

    margin-top: -6px;

}
.line::after{

    margin-top: 6px;

}

.cross{

    display: flex;
    width: max-content;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    display: none;   


  }
  .diagonal{

      background-color: transparent;
      height: 3px;
      width: 24px;
  }
  .diagonal::before, .diagonal::after{
  
      content: '';
      position: absolute;
      background-color: black;
      height: 1px;
      width: 18px;
  
  }  
   .diagonal::before{

      transform: rotate(45deg) translate(5px,-5px);

  }
   .diagonal::after{

      transform: rotate(-45deg) translate(5px,5px);

  }
.container{

    background: url('../images/main.jpg') rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: multiply;
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 1000;



}

header{ 

    position: sticky;
    top: 0;
    z-index: 10000;
    
}
nav{

    background-color: rgba(117, 145, 153, 0.5);
    width: 100%;
    padding: 0 0 0 2rem;
    transition: all ease-in-out 0.5s;

    
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
nav ul li{


}
nav ul li a{

    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Myriad-Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 1em 1em;
    display: block;
    letter-spacing: 1px;


}
nav ul li a:hover{

    background-color: #759199;
    color: black;

}
.main-heading {

    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3em;
    text-align: center;

}
.main-heading h1{

    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    letter-spacing: 2px;
    

}

.main-heading p{

    color: #F17A45;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    letter-spacing: 2px;
    /* font-family: 'Roboto', sans-serif; */

}


        /* TEAM */

    .team{

        padding: 5em 2em;

    }
    .team h1{

        font-size: 32px;
        text-transform: uppercase;
        font-family: 'Baskervville', serif;
        font-weight: bold;
        letter-spacing: 2px;
        color: #BF5E34;
        position: relative;
        text-align: center;
        margin: 1.5em 0;
        
    
    }
    .team h1::before{

        content: '';
        width: 8em;
        height: 1px;
        background-color: #BF5E34;
        position: absolute;
        bottom: -15px;
        transform: translateX(25%);
    
    }
    .team p{

        text-align: center;
        width: 50%;
        margin: auto;
        font-family: Helvetica, sans-serif;
    }

    /* MEMBERS */

    .members{

        display: flex;
        padding: 3em 0;
        justify-content: center;
        align-items: center;

    }
    .member{

        padding: 1.5em 1.5rem;
        display: flex;
        flex-flow: column nowrap;
        width: 27%;
        justify-content: center;
        align-items: center;

    }
    .member img{

        width: 100%;
        object-fit: cover;
        height: 320px;

    }
    .member div{
        width: 100%;
    }
    .member div p{

        margin: auto;
        font-family: Helvetica, sans-serif;
        font-weight: 500;
        padding-top: 1rem;
        font-size: 15px;
        width: 80%;
    }
    .member div .member-name {

        font-size: 20px;

    }
    
    /* COUNT */

    .count{

        display: flex;
        justify-content: space-evenly;
        background-color: #0A2D35;
        padding: 4em;
        margin: 0 0 0em 0;
    }
    .count div{

        text-align: center;
    }
    .count span{

        font-family: VaniBold;
        font-size: 46px;
        color: #995437;


    }
    .count p{

        font-family: 'Myriad-Pro', sans-serif;
        color: white;
        font-size: 16px;
        letter-spacing: 2px;

    }

    /* Image Container */

    .img-container{

        overflow: hidden;
    }

    .img-container img{

        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 50vw;
        display: block;
    }

    /* Contact */

    .contact{

        background-image: linear-gradient(to bottom right, #173C46, #24444D);

    }
    .contact .contact-container{

        padding: 5rem 0;
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    .contact-container .heading{

        width: 100%;
        text-align: center;
        color: white;
    }
    .contact-container .heading h1{

        font-family: 'Athelas', serif;
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 2px;
    }
    .contact-container .heading p{

        width: 60%;
        margin: 1rem auto;
        font-family: Helvetica, sans-serif;
        color: gray;
        
    }
    .contact form{

        width: 70%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-flow: row wrap;
        column-gap: 10px;
    }
    form > *
    {
        display: block;
        width: 46%;
        margin: 1em 0.5em;
        border: none;
        color: white;
        border-bottom: 1px solid #6D7C81;
        background-color: transparent;
        padding: 0.5rem 0;
        outline: none;
        font-family: 'Myriad-Pro', sans-serif;

    }
    
    form > *:focus{

        border-bottom: 1px solid #ABAFB0;
    }
    form > input::selection{
    
        border-bottom: 1px solid #ABAFB0;

    }
    form input[type=email]{
    justify-self: flex-start;
    }
    form input[type=submit]{

        color: white;
        background-color: #985137;
        border: 1px solid #6E301A;
        width: 25%;
        margin-left: auto;
        padding: 0.8rem 0;
        letter-spacing: 1px;
    }
    form textarea{

        width: 100%;
        resize: none;
        
    }

    /* ABOUT - US */

    .about-us{
        display: flex;
        padding: 5rem 0;
        justify-content: center;
        width: 95%;
        margin: 5rem auto;
    }
    .about-img{

        width: 48%;
    }
    .about-img img{
    
        width: 100%;
    }
    .about-detail{

        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-detail > div:nth-child(1){

        outline: 1px solid gray;
        width: 90%;
        height: 90%;
        margin: auto;
        

    }
    .about-detail .heading{

        padding: 2rem 0;

    }
    .about-detail .heading h1{
    
        text-align: center;
        padding: 0.5rem 0;
        font-size: 32px;
        font-family: 'Athelas', serif;
        font-weight: 400;
    }
    .about-detail .heading p{
    
        text-align: center;
        width: 70%;
        margin:auto;
        padding: 0.2rem 0;
        font-family: 'Open Sans',sans-serif;
        font-size: 14px;
    }
    .about-detail .about-team{
        display: flex;
        width: 90%;
        padding: 0 0 1rem 0;
        margin: auto;
        justify-content: space-evenly;
    }
    .about-team .item{
    
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 31%;
        text-align: center;
        
    }
    .about-team .item img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .about-team .item button{
        background-color: transparent;
        border: 1px solid black;
        margin: 1rem 0 0 0;
        padding: 0.75rem 0.3rem;
        font-size: 14px;
        width: 130px;
        font-family: 'Myriad-Pro', sans-serif;
        position: relative;
    }
    .about-team .item button::before{
        
        content: '';
        width: 1px;
        height: 50px;
        background-color: black;
        top: -190%;
        left: 50%;
        z-index: -1;
        transform: translate(-190%,50%);
        position: absolute;
    }

    /* GALLERY */
    .gallery{

        padding: 2rem 0;
    }
    .gallery .heading{

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        row-gap: 1.5rem;

    }
    .gallery .heading h1{

        color: #BF5E34;
        font-family: 'Athelas', serif;
        font-weight: 400;
        font-size: 32px;
    }
    .gallery .heading p{
    
        width: 70%;
        font-family: 'Baskervville', serif;

        
    }
    .gallery .carousel{

        width: 100%;
        text-align: center;
        padding: 2rem 0;
        
    }
    
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        width: 30px;
        height: 30px;
        border:1px solid #985336;
        border-radius: 50%;
        bottom: -20px;
        

    }
    .owl-carousel .owl-nav button.owl-prev{
        left: 15px;
        color: #985336; 
    }
    .owl-carousel .owl-nav button:focus{

        outline: none;
    }
    .owl-carousel .owl-nav button span{


        display: inline-block;
        vertical-align:baseline;
    }
  
    .owl-carousel .owl-nav button.owl-next{
        right: 15px;
        background-color: #985336;
        color: wheat; 

    }

    /* Footer */
    footer{
        color: white;
    }
    .footer-info{

        background-color: #052830;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 2rem 0 3rem 0;
        
    }
    .footer-info p{
        padding: 1rem 0;
        font-family: 'Myriad-Pro', sans-serif;

    }
    .footer-info > div{

        width: 15%;
    }
    .footer-info ul{
        list-style: none;
    }
    .footer-info ul li{
    
        padding: 0.2rem 0;
    }
    .footer-info a{
    
        color: white;
        text-decoration: none;
        font-family: 'Myriad-Pro', sans-serif;

    }
    .footer-info .phone-location{

        padding: 1rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        
    }
    .footer-info .phone-location span{

        width: 100%;
        

    }
    .footer-info .phone-location a{

        font-size: 12px;
        padding: 0.4rem 0.2rem;
        display: inline-block;
        line-height: 1.3;

    }
    .phone-location img{

        width: 20px;
        position: relative;
    }
    .phone-location .phone{

        bottom: 3px;
    }
    .phone-location .loc{

        bottom: 4px;
    }

    .footer-copyright{

        background-color: black;
        border-top: 1px solid white;
      
    }
    .footer-copyright > div{
        padding: 1rem 0;
        width: 90%;
        margin: auto;
        
    }
    .footer-copyright p{

        font-family: 'Myriad-Pro', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;

    }
}
@media screen and (max-width:1200px){

    .about-detail .heading{

        padding: 0.8rem 0;

    }
    .about-detail .heading p{

        width: 75%;
    }
    .about-team .item img{
    
        width: 90px;
        height: 90px;
    }
    .about-team .item button{
    
        width: 120px;
        font-size: 12px;
    }
}
@media screen and (max-width:1024px){

      /* Members */

      .member{

        width: 25%;
        
      }
      .member img{

        width: 100%;
        object-fit: cover;
        height: 200px;

    }

    /* CONTACT */

    .contact-container .heading p{
    
        width: 80%;
    }
    .contact form{

        width: 80%;

    }

    /* About-Us */

    .about-img{

        width: 45%;
    }
    .about-detail{

        width: 50%;
    }
    .about-detail .heading{

        padding: 0.2rem 0;

    }
    .about-detail .heading h1{

        font-size: 20px;
    }
    .about-detail .about-team{
    
        padding: 0rem 0;
    }
    .about-detail .heading p{

        padding: 0.5rem 0;
        width: 95%;

    }
    .about-team .item img{
        width: 60px;
        height: 60px;
    }
    .about-team .item button{
        margin-top: 0.5rem;
        padding: 0.5rem 0.5rem;
        font-size: 12px;
        width: max-content;
    }
    .about-team .item button::before{
    
        height: 9px;
        top: -50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,50%);
    
    }

    /* footer */

    .footer-info{
    
        flex-flow: row wrap;
    }
    .footer-info > div{
    
        width: 14%;
    }
    .footer-info .phone-location{

        width: 20%;
    }

}
@media screen and (max-width:768px){

    /* Members */
    .members{

        flex-flow: column wrap;
    }
    .member{

        width: 70%;
        
      }
    .member div p{
    
        width: 90%;
    }
  
    .member img{

      width: 100%;
      object-fit: cover;
      height: 200px;

  }

  /* COUNT */

    .count{

        flex-flow: row wrap;
    }
    .count div{

        width: 40%;
        padding: 1rem 0;
    }

    /* CONTACT */
    
    form > *{

        margin: 1em 0em;

    }

    /* ABOUT-US */

    .about-us{
        flex-flow: column nowrap;
        width: 100%;
        padding: 2rem 0;
        margin: 2rem 0;
    }
    .about-img{

        width: 100%;
    }
    .about-team .item img{
        width: 90px;
        height: 90px;
    }
    .about-detail{
        width: 100%;
        margin-top: 3rem;
    }
    .about-detail > div:nth-child(1){
    
        width: 95%;
    }

    .about-detail .about-team{
        
        padding: 2rem 0;
    }

    /* footer */

    .footer-info{
        justify-content: space-around;
        
    }
    .footer-info > div{
    
        padding: 1rem 0;
    }
  
    .footer-info .phone-location{

        width: 100%;
    }
    .footer-info .phone-location span{

        width: 40%;
        margin-left: auto;
    }
}
@media screen and (max-width:700px){
    
    .logo{

        padding: 1.5rem 0rem;
    }
    .logo p{

        font-size: 1.2em;
        width: 80%;

    }
    
    .hamburger{

        display: flex;
    }

    nav{

        padding: 0;
        position: fixed;
        transform: translateY(-100%);  


    }
    nav ul{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;   
    }
   
   
    .main-heading h1{

        font-size: 2em;

    }
    .main-heading p{

        font-size: 1.1em;

    }


    /* TEAMS */

    .team{

        padding: 2rem 0rem;

    }
    .team h1{

        font-size: 1.5em;
    }

    .team h1::before{

        width: 8em;
        height: 1px;
        bottom: -15px;
    
    }
    .team p{

        width: 80%;
    }

    /* Members */
  
    .member{

        width: 80%;
    }
    .member img{

        width: 100%;
        object-fit: cover;
        height: 200px;

    }

}
@media screen and (max-width:500px){

    .count{

        padding: 1rem;
    }
    .count div{

        width: 50%;
        padding: 1rem 0;
    }   
    
    .footer-info > div{
    
        padding: 1rem 0;
        width: 35%;
        align-self: flex-end;
        margin-left: auto;
    }

}

@media screen and (max-width:425px){

    .logo p{

        font-size: 1.1em;
    }
    .main-heading{

        right: auto;
        left: 0;
        bottom: 10%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        width: 100%;
        padding: 0;
    }
   

    /* TEAMS */

    .team h1{
        font-size: 1.2em;
    }
    .team p{

        font-size: 0.9em;
    }

    /* Members */
    .members{

        flex-flow: column wrap;
    }
    .member{

        width: 80%;
    }
    .member img{

        width: 100%;
        object-fit: cover;
        height: 200px;

    }
    .member div p{

        width: 90%;
    }

    /* COUNT */

    .count span{

        font-size: 36px;

    }
    .count p{

        font-size: 10px;
        
    }


    /* Contacts */

    .contact-container .heading h1{
    
        font-size: 32px;
        
    }
    .contact-container .heading p{
    
        width: 100%;
    }
    .contact-container form{

        width: 95%;
    }
    form > *
    {
        width: 100%;
    }
    
    form input[type=submit]{

        width: 100%;
        margin: 1rem auto;
    }

    /* ABOUT-US */

    .about-team .item button{
    
        font-size: 10px;
        
    }

    /* footer */

    .footer-info > div{
    
        width: 40%;
    }
    .footer-info .phone-location{

        width: 100%;
        flex-flow: column wrap;
    }
    .footer-info .phone-location span{

        width: 80%;
        margin: 0;
        padding: 0.5rem 0;
    }
}